# Python Automation
**/*.venv
**/*.pytest_cache
**/*recordings
**/*new_recording.py
**/*cached_element.py
**/*custom_web_driver.py
**/*linkedin_bot.py
# ignore all files ending in .log
**/*.log

# NestJS API
# compiled output
**/*dist
**/*node_modules

# Logs
**/*logs
**/**.log
**/*npm-debug.log*
**/*pnpm-debug.log*
**/*yarn-debug.log*
**/*yarn-error.log*
**/*lerna-debug.log*

# OS
**/*.DS_Store

# Tests
**/*coverage
**/*.nyc_output

# IDEs and editors
**/*.idea
**/*.project
**/*.classpath
**/*.c9/
**/**.launch
**/*.settings/
**/**.sublime-workspace

# IDE - VSCode
**/*.vscode/*
**/*!.vscode/settings.json
**/*!.vscode/tasks.json
**/*!.vscode/launch.json
**/*!.vscode/extensions.json/nestjs_api/

scratchpad.md
.env

# PostgreSQL volume
/postgres_data
nestjs_api/package.json
**/*$PNPM_HOME
