[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
numpy = "*"
python-dotenv = "*"
coloredlogs = "*"
seleniumbase = "*"
pytest = "*"
transformers = "*"
command-runner = "*"
ipdb = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
