[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
gpt4all = "*"
chromadb = "*"
pandas = "*"
python-dotenv = "*"
coloredlogs = "*"
seleniumbase = "*"
pytest = "*"
ipdb = "*"
fuzzywuzzy = "*"
crewai = "*"
sentence-transformers = "*"
pymupdf = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.10"
